body {
    padding: 0; margin: 0; 
    background: #242629;
    color: #a0a0a1;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 200;
    letter-spacing: 0.025em;
}

.blanc {
    color: white;
    font-weight: 300;
}
.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: baseline;
    
}

.photos {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1000px) {
    
    .container{
        flex-direction: row;     
    }    
   .photos{
    flex-direction: column;
   }
    }   
