body {
    padding: 0;
    margin: 0;
    background: #242629;
    color: #a0a0a1;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    letter-spacing: 0.025em;
}

p {
    cursor: pointer;
}

.header {
    background-color: #242629;
    height: 9vh;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    align-items: center;
}

.blanc {
    color: white;
    font-weight: 200;
    margin-left: 2vh;
}

.Logo {
    margin-inline: 3vw;
    opacity: 0.5;
    cursor: pointer;
}

.aligned {
    display: flex;
    align-items: center;
}

.text {
    font-weight: 200;
    font-size: 25pt;
}

.cropped {
    height: 35vh;
    overflow: hidden;
}

.PhotoEtTexte {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.PhotoEtTexte img {
    width: 100vw;
}

.container {
    display: inline-block;
    position: relative;
}

.container .text {
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    left: 10%;
    right: 0;
    top: 80%;
    color: white;
}

.fond {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;

}

/*.PhotoEtTexte {
    max-width: 1300px;
    width: 100%;
    height: auto;
    border: 1px solid #333;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
}

.container {
    width: 300px;
    height: 200px;
    background: #333;
}

*/



@media screen and (min-width: 600px) {
    .PhotoEtTexte {
        display: flex;
    }
}